@import "https://fonts.googleapis.com/css?family=Pridi";

.header-body{
    height: 120px;
    left: 0px;
    right: 0px;
    top: 0px;
    
    background: #F4EBDB;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.header-cabinetbuttons{
    position: absolute;
width: 118px;
left: 95%;
top: 130px;
height: 80px;
background: #F4EBDB;
box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.6);
z-index: 1;
border-radius: 10px 10px 10px 10px;
opacity: 0;
transition: ease .3s;
}


.header-logo{
    position: relative;
    left: 5px;
    top: 22px;
}

.header-login{
    margin-top: 8%;
    position: relative;
    width: 50%;
    margin-left: 25%;
    border:none;
    border-radius: 8px;
    background: #F4EBDB;
    font-family: Pridi;
    font-style: normal;
    font-weight: normal;

/* or 91% */

align-items: center;
text-align: center;
letter-spacing: -0.41px;
transition: all 0.3s ease;
color: #2C4A52;
}

.header-login:hover{
    color: #F4EBDB;
    background: #2C4A52;
}

.header-signup{
    border-radius: 8px;
    margin-top: 5%;
    position: relative;
    width: 90%;
    margin-left: 5%;
    border:none;
    background: #F4EBDB;
    font-family: Pridi;
    font-style: normal;
    font-weight: normal;

/* or 91% */

align-items: center;
text-align: center;
letter-spacing: -0.41px;
transition: all 0.3s ease;
color: #2C4A52;
}

.header-signup:hover{
    color: #F4EBDB;
    background: #2C4A52;
}

.header-about{
    position: absolute;
    width: 116px;
    height: 120px;
    left: 68.5%;
    top: 0px;
    border:none;
    background: #F4EBDB;
    font-family: Pridi;
    font-style: normal;
    font-weight: normal;

/* or 91% */

align-items: center;
text-align: center;
letter-spacing: -0.41px;
transition: all 0.3s ease;
color: #2C4A52;
}

.header-about:hover{
    color: #F4EBDB;
    background: #2C4A52;
}

.header-school{
    position: absolute;
    width: 108px;
    height: 120px;
    left: 76%;
    top: 0px;
    border:none;
    background: #F4EBDB;
    font-family: Pridi;
font-style: normal;
font-weight: normal;
letter-spacing: 0.025em;

/* or 91% */

align-items: center;
text-align: center;
letter-spacing: -0.41px;
transition: all 0.3s ease;
color: #2C4A52;
}

.header-school:hover{
    color: #F4EBDB;
    background: #2C4A52;
}

.header-map{
  position: absolute;
  width: 108px;
  height: 120px;
  left: 61.9%;
  top: 0px;
  border:none;
  background: #F4EBDB;
  font-family: Pridi;
font-style: normal;
font-weight: normal;
letter-spacing: 0.025em;

/* or 91% */

align-items: center;
text-align: center;
letter-spacing: -0.41px;
transition: all 0.3s ease;
color: #2C4A52;
}

.header-map:hover{
  color: #F4EBDB;
  background: #2C4A52;
}

.header-cabinet{
    position: absolute;
    width: 118px;
    height: 120px;
    left: 90%;
    top: 0px;
    border:none;
    background: #F4EBDB;
    font-family: Pridi;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.025em;

/* or 91% */
align-items: center;
text-align: center;
letter-spacing: -0.41px;
transition: all 0.3s ease;
color: #2C4A52;
}

.header-cabinet:hover{
    color: #F4EBDB;
    background: #2C4A52;
}

.header-forum{
    position: absolute;
    width: 118px;
    height: 120px;
    left: 82.5%;
    top: 0px;
    border:none;
    background: #F4EBDB;
    font-family: Pridi;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.025em;

/* or 91% */
align-items: center;
text-align: center;
letter-spacing: -0.41px;
transition: all 0.3s ease;
color: #2C4A52;
}

.header-forum:hover{
    color: #F4EBDB;
    background: #2C4A52;    
}
  
.list-body {
    position: absolute;
    top: 130px;
    left: 86%;
    z-index: 1;
    box-sizing: border-box;
    width: 200px;
    padding: 0 20px;
    overflow: hidden;
    background-color: #F4EBDB;
    border-radius: 5px;
  }
  
.list {
    padding: 0;
    list-style-type: none;
  }
  
.list-item {
    padding: 5px 0;
  }
  
  /* This fires as soon as the element enters the dorm */
.list-transition-enter,
.list-transition-appear {
    /*We give the list the initial dimension of the list button*/
    top: 120px;
    width: -120px;
    max-height: 40px;
    color: transparent;
    background-color: #F4EBDB;
  }
  /* This is where we can add the transition*/
.list-transition-enter-active,
.list-transition-appear-active {
    top: 135px;
    width: -200px;
    max-height: 200px;
    background-color: #F4EBDB;
    transition: all 400ms;
  }
  
  /* This fires as soon as the this.state.showList is false */
.list-transition-exit {
    top: 135px;
    width: -200px;
    max-height: 200px;
    background-color: #F4EBDB;
  }
  /* fires as element leaves the DOM*/
.list-transition-exit-active {
    top: 120px;
    width: -120px;
    max-height: 40px;
    color: transparent;
    background-color: #F4EBDB;
    transition: all 400ms;
  }


  .list-body-admin {
    position: absolute;
    top: 130px;
    left: 50%;
    z-index: 1;
    box-sizing: border-box;
    width: 200px;
    padding: 0 20px;
    overflow: hidden;
    background-color: #F4EBDB;
    border-radius: 5px;
  }
  
.list-admin {
    padding: 0;
    list-style-type: none;
  }
  
.list-item-admin {
    padding: 5px 0;
  }
  
  /* This fires as soon as the element enters the dorm */
.list-transition-admin-enter,
.list-transition-admin-appear {
    /*We give the list the initial dimension of the list button*/
    top: 120px;
    width: -120px;
    max-height: 60px;
    color: transparent;
    background-color: #F4EBDB;
  }
  /* This is where we can add the transition*/
.list-transition-admin-enter-active,
.list-transition-admin-appear-active {
    top: 135px;
    width: -200px;
    max-height: 400px;
    background-color: #F4EBDB;
    transition: all 400ms;
  }
  
  /* This fires as soon as the this.state.showList is false */
.list-transition-admin-exit {
    top: 135px;
    width: -200px;
    max-height: 400px;
    background-color: #F4EBDB;
  }
  /* fires as element leaves the DOM*/
.list-transition-admin-exit-active {
    top: 120px;
    width: -120px;
    max-height: 60px;
    color: transparent;
    background-color: #F4EBDB;
    transition: all 400ms;
  }

  .header-adminpanel{
    position: absolute;
    width: 108px;
    height: 120px;
    left: 50%;
    top: 0px;
    border:none;
    background: #F4EBDB;
    font-family: Pridi;
font-style: normal;
font-weight: normal;
letter-spacing: 0.025em;

/* or 91% */

align-items: center;
text-align: center;
letter-spacing: -0.41px;
transition: all 0.3s ease;
color: #2C4A52;
}

.header-adminpanel:hover{
    color: #F4EBDB;
    background: #2C4A52;
}